kind: Template
apiVersion: template.openshift.io/v1
metadata:
  annotations:
    tags: nfsregistry
  labels:
    app: nfs-registry-storage
  name: nfsregistry
objects:
- kind: PersistentVolumeClaim
  apiVersion: v1
  labels:
    app: registry-storage
  metadata:
    name: registry-storage
    namespace: openshift-image-registry
  spec:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: 100Gi
    storageClassName: nfs-client
    volumeMode: Filesystem
